.button-outlined {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 8px 24px;
  border-radius: 1000px;
  border: 1px solid var(--color-gray-secondary-text);
  text-decoration: none;
  white-space: nowrap;
  transition: background-color 0.3s ease, border-color 0.3s ease, color 0.3s ease;
}

.button-outlined:hover {
  background-color: var(--color-accent);
  border: 1px solid var(--color-accent);
  color: var(--color-white);
}

.button-outlined img {
  width: 24px;
  height: 24px;
}

.button-outlined:hover img {
  filter: brightness(0) invert(1);
}


.button-text[class*='button-text'] {
  display: inline-flex;
  align-items: center;
  text-decoration: none;
  color: var(--color-gray-headings);
  font-weight: var(--font-weight-bold);
  transition: all 0.3s ease;
}

.button-text:hover {
  color: var(--color-accent);
  text-decoration: wavy;
}


.button-text::after {
  content: '→';
  margin-left: 8px;
  transition: transform 0.3s ease;
  
}

.button-text:hover::after {
  transform: translate(24px);
}

.button-text span {
  display: inline-block;
  transition: transform 0.3s ease;
  transform-origin: left;
  color: var(--color-gray-headings);
}

.button-text:hover span {
  transform: scale(1.2);
  color: var(--color-accent);
  transition: transform 0.3s ease;
}


