.button-text[class*='button-text'] {
  display: inline-flex;
  align-items: center;
  text-decoration: none;
  color: var(--color-text-heading);
  font-weight: var(--font-weight-7);
  transition: all var(--duration-normal) var(--ease-default);
}

.button-text:hover {
  color: var(--color-accent);
  text-decoration: wavy;
}

.button-text::after {
  content: '\2192';
  margin-left: var(--space-xs);
  transition: transform var(--duration-normal) var(--ease-default);
}

.button-text:hover::after {
  transform: translate(var(--space-lg));
}

.button-text span {
  display: inline-block;
  transition: transform var(--duration-normal) var(--ease-default);
  transform-origin: left;
  color: var(--color-text-heading);
}

.button-text:hover span {
  transform: scale(1.2);
  color: var(--color-accent);
  transition: transform var(--duration-normal) var(--ease-default);
}
