.marqueeContainer {
  overflow: hidden;
  width: 100vw;
  position: relative;
  margin-left: calc(-50vw + 50%);
  margin-bottom: 64px;
  display: flex;
  background-color: var(--color-accent);
}

.marqueeContent {
  display: flex;
  align-items: center;
  width: max-content;
  animation: marquee 60s linear infinite;
  flex-shrink: 0;
}

.marqueeContent h2 {
  font-size: var(--font-size-h4);
  color: var(--color-white);
  white-space: nowrap;
  margin: 0;
  padding: 0 8px;
  display: inline-block;
}

@keyframes marquee {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}