.teamsGrid {
  display: flex;
  flex-direction: column;
  gap: 96px;
}

@media (max-width: 1024px) {
  .teamsGrid {
    gap: 64px;
  }
}

@media (max-width: 1024px) {
  .teamsGrid .projectCard{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 24px;
    height: 100%;
    border-radius: 24px;
    gap: 16px;
  }

  .teamsGrid .projectCardContent {
    max-width: 100%;
    margin: 0 0 32px;
    order: 2;
  }

  .projectCardImages {
    display: none;
  }
}

/* Project card */
.projectCard {
  display: flex;
  flex-direction: column;
  width: 100%;
  box-sizing: border-box;
  position: relative;
}

.projectCardContent {
  max-width: 100%;
  gap: 8px;
  display: flex;
  flex-direction: column;
}

.projectCardDescription {
  color: var(--color-gray-secondary-text);
  margin-bottom: 8px;
  line-height: 1.5;
}




.projectCardImages {
  
  width: 100vw;
  margin-left: calc(50% - 50vw);
  margin-right: calc(50% - 50vw);
}



.titleRow {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 16px;
}

.projectCardMeta {
  display: flex;
  align-items: center;
  gap: 8px;
  color: var(--color-gray-secondary-text);
  font-size: 14px;
  margin-bottom: 16px;
}

.projectCardTags {
  display: flex;
  gap: 4px;
}



.fullStoryLink {
  flex-shrink: 0;
  margin-left: 16px;
}