.teamsGrid {
  display: flex;
  flex-direction: column;
  gap: 56px;
}

@media (max-width: 1024px) {
  .teamsGrid {
    gap: 24px;
  }
}

@media (max-width: 1024px) {
  .teamsGrid .projectCard{
    display: flex;
    flex-direction: column;
    align-items: center;
    
  }

  .teamsGrid .projectCardContent {
    max-width: 100%;
    margin: 0 0 32px;
    order: 2;

  }
  .projectCardImages {
    display: none;
  }
  
}

/* Project card */
.projectCard {
  display: flex;
  gap: 32px;
  background: rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(4px);
  border-radius: 40px;
  padding: 48px;
  height: 400px;
  width: 100%;
  box-sizing: border-box;
  
}

.projectCardContent {
  max-width: 40%;
  gap: 24px;
  margin-right: 80px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.projectCardDescription {
  color: var(--color-gray-secondary-text);
  margin-bottom: 24px;
}




.projectCardImages {
  width: 40%;
  display: flex;
  justify-content: left;
  
}