@import './colors.css';
@import './typography.css';

:root {
  scroll-behavior: smooth;
  
  /* Layout */
  --layout-max-width: 1280px;
  --layout-padding: 16px;
  --layout-content-width: min(calc(100vw - (var(--layout-padding) * 2)), var(--layout-max-width));

  @media (max-width: 996px) {
    --layout-padding: 8px;
  }

  /* Docusaurus required overrides */
  --ifm-background-color: var(--color-gray-surface);
  --ifm-color-primary: var(--color-gray-headings);
}

h1:hover .hash-link,
h2:hover .hash-link,
h3:hover .hash-link,
h4:hover .hash-link,
h5:hover .hash-link,
h6:hover .hash-link {
  display: none !important;
}





/* Eyes animation */
.animated-eyes {
  width: 100%;
  max-width: 401px;
}

.animated-eyes circle {
  fill: var(--color-black);
  animation: blinking 1.5s infinite;
  transform-origin: center;
  transform-box: fill-box;
}

@keyframes blinking {
  0%, 15% {
    transform: scaleY(1);
  }
  20%, 40% {
    transform: translateX(0.15px) scaleY(0.98);
  }
  45%, 55% {
    transform: scaleY(0.1);
  }
  60%, 80% {
    transform: translateX(-0.15px) scaleY(0.98);
  }
  85%, 100% {
    transform: scaleY(1);
  }
}

article {

  margin-top: 64px;
  
}

.tag {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 4px 12px;
  background: rgba(231, 231, 233, 0.65);
  backdrop-filter: blur(4px);
  color: var(--color-gray-primary-text);
  border-radius: 16px;
  font-size: var(--font-size-small);
  box-shadow: var(--shadow-tag);
  
}
