@import './colors.css';
@import './typography.css';


.bio h1{
  font-weight: 300
}




.section {
  padding: 9rem 0 5rem;
}

h2 {
  margin-bottom: 64px;
  color: var(--color-white);
  position: relative;
  display: inline-block;
  
}

h2::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: -4px;
  right: -4px;
  height: 65%;
  background-color: var(--color-accent);
  z-index: -1;
  rotate: 1deg;
}

.projectCardTags {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-bottom: 24px;
}


.experiments-grid .project-card {
  transition: all 0.3s ease;
  background: var(--color-white);
}

.experiments-grid .project-card.blog-card {
  background: transparent;
}
.experiments-grid .project-card:hover {
  transform: scale(1.02);
  rotate: 1deg;
}

/* Experiments cards */
.experiments-card {
  position: relative;
  height: 100%;
  display: flex;
  flex-direction: column;
  margin-bottom: 24px;
  break-inside: avoid;
  border-radius: 16px;
  
}

.experiments-card.blog-card {
  border: 1px solid var(--color-gray-borders);
  padding: 24px;
  text-decoration: none;
}

.experiments-card.blog-card:hover {
  text-decoration: none;
}

.experiments-card.blog-card * {
  text-decoration: none !important;
}

.experiments-card img {
  height: 100%;
  margin: 0;
  width: 100%;
  display: block;
  object-fit: cover;
  border-radius: 16px;
  
}

.experiments-card .project-card-tags {
  position: absolute;
  bottom: 16px;
  left: 24px;
  right: 24px;
  z-index: 1;
  gap: 4px;
  display: flex;
}

/* Layout */
.container {
  box-sizing: border-box;
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 16px;
  background: transparent;
  overflow-x: hidden;
}

/* Media queries */
@media (min-width: 1280px) {
  .experiments-grid {
    column-count: 4;
    column-gap: 24px;
  }

  .contacts {
    margin-left: auto;
  }
}

@media (min-width: 769px) and (max-width: 1279px) {
  .experiments-grid {
    column-count: 3;
    column-gap: 24px;
  }
}

@media (max-width: 768px) {
  .section {
    padding: 7.75rem 0 3.75rem;
  }

  .section:not(:first-child) {
    padding: 3.75rem 0;
  }

  .experiments-grid {
    column-count: 2;
    column-gap: 16px;
  }

  h2 {
    margin-bottom: 32px;
  }
}

@media (max-width: 490px) {
  .section {
    padding: 6rem 0 2rem;
  }

  .section:not(:first-child) {
    padding: 2rem 0;
  }

  .experiments-grid {
    column-count: 1;
    column-gap: 16px;
  }

  .project-card {
    flex-direction: column;
    align-items: stretch;
  }

  .project-card-content {
    margin-right: 0;
    width: 100%;
  }





  }