@import './colors.css';
@import './typography.css';


.bio h1 span {
  color: var(--color-accent);
}

.section {
  padding: 144px 0 80px;
}

.experiments h1 {
  margin-bottom: 64px;
}

/* Teams Grid */
.teams-grid {
  display: flex;
  flex-direction: column;
  gap: 300px;
}

/* Project card */
.project-card {
  display: flex;
  gap: 32px;
}

.project-card-content {
  max-width: 500px;
  gap: 24px;
  margin-right: 64px;
}
.project-card-description {
  color: var(--color-gray-secondary-text);
  margin-bottom: 24px;
}

.project-card-tags {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-bottom: 24px;
}


.project-card-image {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}



.experiments-grid .project-card {
  transition: all 0.3s ease;
  background: var(--color-white);
}

.experiments-grid .project-card:hover {
  transform: scale(1.03);
  filter: brightness(0.95);
}

/* Experiments cards */
.experiments-card {
  position: relative;
  height: 100%;
  display: flex;
  flex-direction: column;
  border-radius: 16px;
  margin-bottom: 24px;
  break-inside: avoid;
}

.experiments-card img {
  border-radius: 16px;
  height: 100%;
  margin: 0;
  width: 100%;
  display: block;
  object-fit: cover;
}

.experiments-card .project-card-tags {
  position: absolute;
  bottom: 0;
  left: 24px;
  right: 24px;
  z-index: 1;
}

/* Layout */
.container {
  box-sizing: border-box;
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 16px;
  background: var(--color-gray-surface);
  overflow-x: hidden;
}

/* Media queries */
@media (min-width: 1024px) {
  .experiments-grid {
    column-count: 3;
    column-gap: 24px;
  }

  .contacts {
    margin-left: auto;
  }
}

@media (min-width: 769px) and (max-width: 1023px) {
  .experiments-grid {
    column-count: 2;
    column-gap: 24px;
  }
}

@media (max-width: 768px) {
  .section {
    padding: 124px 0 60px;
  }

  .section:not(:first-child) {
    padding: 60px 0;
  }

  .experiments-grid {
    column-count: 1;
  }
}

@media (max-width: 480px) {
  

  .section {
    padding: 96px 0 32px;
  }

  .section:not(:first-child) {
    padding: 32px 0;
  }

  .experiments-grid {
    margin-top: 24px;
  }

  .project-card {
    padding: 24px 16px;
    margin-bottom: 24px;
  }

  }
