@import '../../styles/colors.css';
@import '../../styles/typography.css';

.contacts {
  max-width: 1280px;
  display: flex;
  flex-direction: column;
  padding: 128px 0 80px;
}

.contactsContent {
  display: flex;
  flex-direction: column;
  width: 100%;
}





.contactsSocials {
  display: flex;
  flex-direction: row;
  gap: 56px;
  margin-top: 32px;
  flex-wrap: wrap;
}

.socialLink {
  text-decoration: none;
  justify-content: flex-start;
  width: fit-content;
  color: var(--color-gray-headings);
}

.socialLink:hover {
  opacity: 0.8;
}

@media (max-width: 768px) {
  .contacts {
    padding: 24px 16px;
  }

  .contactsContent {
    gap: 24px;
  }

 


  .contactsSocials {
    margin-top: 16px;
    gap: 32px;
  }

  
}

@media (max-width: 480px) {
  .contacts {
    padding: 16px 12px;
  }

  .contactsSocials {
    margin-top: 12px;
    gap: 12px;
  }
}