.contacts {
  display: flex;
  flex-direction: column;
  padding: var(--space-10) var(--layout-padding);
  max-width: var(--layout-max-width);
  margin: 0 auto;
  box-sizing: border-box;
}

.contactsSocials {
  display: flex;
  flex-direction: row;
  gap: var(--space-2xl);
  margin-top: var(--space-xl);
  flex-wrap: wrap;
}

.contactsText {
  font-size: var(--font-size-base);
  font-weight: var(--font-weight-4);
}

.socialLink {
  text-decoration: none;
  justify-content: flex-start;
  width: fit-content;
  color: var(--color-text-heading);
}

.socialLink:hover {
  opacity: 0.8;
}

@media (max-width: 768px) {
  .contacts {
    padding: var(--space-3xl) var(--layout-padding);
  }

  .contactsSocials {
    margin-top: var(--space-md);
    gap: var(--space-xl);
  }
}

@media (max-width: 480px) {
  .contactsSocials {
    margin-top: var(--space-sm);
    gap: var(--space-sm);
  }
}
